 html, body{
	    height: 100%;
	    width :100%; 
	    margin: 0;
	    padding: 0;
       	     background-image:url("images(3).jpg");
	    background-repeat:repeat-x;
	   z-index:-1;
	    

    }
    .container{
	
	
        
    }

    header{ 
	
	font-style:italic;
        text-size:32px;
        text-align:center;
        margin-top:0px;
        border-bottom : 5px solid #fff;
		background-color:#00695C;
        padding : 5px;
        color:#fff;
        
	}

	nav{
		width: 270px;
		float: left;
		display: inline;
		
		padding: 0;
		margin: 10px;
        background-color:#26A69A;
        height:100%;
        border: 5px solid #fff;
	border-radius:20px;
		

	}

	.mainb{
		width : 800px;
		float:left;
                margin-top: 0px;
		padding:0px;
        	
	}
	
	li{     padding:7px;
		font-size:1.5em;
                margin-right:10px;
		overflow:auto;
		font-variant:small-caps;
		list-style-type :none;
	}
	article{
		margin-top: 10px;
		margin-right:10px;
		background-color:#4DB6AC;
 		border :5px solid #fff;
		border-radius:20px;
                padding-bottom:20px;
	}
	h3,p{   height :50px;
		margin-left:30px;  
	}
	h3{  
		font-variant:small-caps; 
	}
        h2{     padding-left:10px
	}
	img{    
		margin-top:10px;
		border :5px solid #fff;
		
		
	}
        a:link{
		text-decoration:none;
		color:#0D47A1;
                
	}
	a:hover{
		font-size:1.6em;
                color:#311B92;
	}
	a:active{
		font-size:1.5em;
		color:#311B92;
	}
        li.active{
		background-image:url("whitegrey.jpg");
        	border-left:5px solid #7B1FA2;
                color: #7B1FA2;
	}
        table,th,td{
		border: 5px solid black;
		border-collapse:collapse;
	}

	table{
		margin:30px;
	}
	th,td{
		width : 200px;
		text-align:center;
	}
        th{
		font-variant:small-caps;
	}
	tr:nth-child(even){
		background-color: #B2DFDB;
	}

	
	
